body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:848px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:17px;
  top:19px;
  width:241px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u30 {
  position:absolute;
  left:683px;
  top:23px;
  width:22px;
  height:22px;
}
#u31 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32 {
  position:absolute;
  left:718px;
  top:25px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:694px;
  top:55px;
  width:100px;
  height:60px;
}
#u34_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:16px;
  top:127px;
  width:96px;
  height:763px;
}
#u40_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:102px;
  height:769px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:768px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:52px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
}
#u44 {
  position:absolute;
  left:0px;
  top:52px;
  width:96px;
  height:46px;
}
#u45 {
  position:absolute;
  left:2px;
  top:15px;
  width:92px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:44px;
}
#u46 {
  position:absolute;
  left:0px;
  top:98px;
  width:96px;
  height:44px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:51px;
}
#u48 {
  position:absolute;
  left:0px;
  top:142px;
  width:96px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u49 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:51px;
}
#u50 {
  position:absolute;
  left:0px;
  top:193px;
  width:96px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u51 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:44px;
}
#u52 {
  position:absolute;
  left:0px;
  top:244px;
  width:96px;
  height:44px;
}
#u53 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:44px;
}
#u54 {
  position:absolute;
  left:0px;
  top:288px;
  width:96px;
  height:44px;
}
#u55 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:47px;
}
#u56 {
  position:absolute;
  left:0px;
  top:332px;
  width:96px;
  height:47px;
}
#u57 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:51px;
}
#u58 {
  position:absolute;
  left:0px;
  top:379px;
  width:96px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u59 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:43px;
}
#u60 {
  position:absolute;
  left:0px;
  top:430px;
  width:96px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:42px;
}
#u62 {
  position:absolute;
  left:0px;
  top:473px;
  width:96px;
  height:42px;
}
#u63 {
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:44px;
}
#u64 {
  position:absolute;
  left:0px;
  top:515px;
  width:96px;
  height:44px;
}
#u65 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:51px;
}
#u66 {
  position:absolute;
  left:0px;
  top:559px;
  width:96px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u67 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:51px;
}
#u68 {
  position:absolute;
  left:0px;
  top:610px;
  width:96px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:51px;
}
#u70 {
  position:absolute;
  left:0px;
  top:661px;
  width:96px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:51px;
}
#u72 {
  position:absolute;
  left:0px;
  top:712px;
  width:96px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u73 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:547px;
}
#u74 {
  position:absolute;
  left:122px;
  top:127px;
  width:726px;
  height:547px;
}
#u75 {
  position:absolute;
  left:2px;
  top:266px;
  width:722px;
  visibility:hidden;
  word-wrap:break-word;
}
