body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:553px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u363 {
  position:absolute;
  left:445px;
  top:531px;
  width:99px;
  height:36px;
}
#u364 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u365 {
  position:absolute;
  left:63px;
  top:16px;
  width:57px;
  height:16px;
}
#u366 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:11px;
}
#u367 {
  position:absolute;
  left:127px;
  top:19px;
  width:4px;
  height:11px;
  color:#6B6B6B;
}
#u368 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u369 {
  position:absolute;
  left:140px;
  top:16px;
  width:69px;
  height:15px;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u371 {
  position:absolute;
  left:82px;
  top:166px;
  width:471px;
  height:337px;
}
#u371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:337px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u372 {
  position:absolute;
  left:82px;
  top:124px;
  width:71px;
  height:16px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u374 {
  position:absolute;
  left:463px;
  top:45px;
  width:90px;
  height:31px;
}
#u375 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u376 {
  position:absolute;
  left:82px;
  top:87px;
  width:71px;
  height:16px;
}
#u377 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u378 {
  position:absolute;
  left:179px;
  top:87px;
  width:71px;
  height:16px;
}
#u379 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
