body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:553px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  position:absolute;
  left:445px;
  top:586px;
  width:99px;
  height:36px;
}
#u381 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u382 {
  position:absolute;
  left:63px;
  top:16px;
  width:57px;
  height:16px;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:11px;
}
#u384 {
  position:absolute;
  left:127px;
  top:19px;
  width:4px;
  height:11px;
  color:#6B6B6B;
}
#u385 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u386 {
  position:absolute;
  left:140px;
  top:16px;
  width:69px;
  height:15px;
}
#u387 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u388 {
  position:absolute;
  left:82px;
  top:208px;
  width:471px;
  height:337px;
}
#u388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:337px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u389 {
  position:absolute;
  left:82px;
  top:159px;
  width:71px;
  height:16px;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u391 {
  position:absolute;
  left:463px;
  top:48px;
  width:90px;
  height:31px;
}
#u392 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u393 {
  position:absolute;
  left:82px;
  top:114px;
  width:71px;
  height:16px;
}
#u394 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u395 {
  position:absolute;
  left:179px;
  top:114px;
  width:71px;
  height:16px;
}
#u396 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
