body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:937px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:314px;
}
#u0 {
  position:absolute;
  left:66px;
  top:113px;
  width:526px;
  height:314px;
}
#u1 {
  position:absolute;
  left:2px;
  top:149px;
  width:522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:56px;
  top:30px;
  width:321px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:359px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:638px;
  top:68px;
  width:299px;
  height:359px;
}
#u5 {
  position:absolute;
  left:2px;
  top:172px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:668px;
  top:155px;
  width:57px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:668px;
  top:84px;
  width:42px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:735px;
  top:152px;
  width:177px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:666px;
  top:208px;
  width:43px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:733px;
  top:205px;
  width:177px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:674px;
  top:292px;
  width:100px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:718px;
  top:324px;
  width:140px;
  height:32px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17 {
  position:absolute;
  left:434px;
  top:514px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:666px;
  top:257px;
  width:57px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:733px;
  top:254px;
  width:81px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u22 {
  position:absolute;
  left:824px;
  top:254px;
  width:80px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:193px;
}
#u24 {
  position:absolute;
  left:888px;
  top:302px;
  width:5px;
  height:181px;
}
#u25 {
  position:absolute;
  left:2px;
  top:82px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u26 {
  position:absolute;
  left:862px;
  top:507px;
  width:71px;
  height:16px;
  color:#CC0000;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
