body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:603px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467 {
  position:absolute;
  left:485px;
  top:525px;
  width:99px;
  height:36px;
}
#u468 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469 {
  position:absolute;
  left:353px;
  top:525px;
  width:102px;
  height:36px;
}
#u470 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u471 {
  position:absolute;
  left:63px;
  top:71px;
  width:71px;
  height:16px;
}
#u472 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u473 {
  position:absolute;
  left:144px;
  top:69px;
  width:233px;
  height:25px;
}
#u473_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u474 {
  position:absolute;
  left:63px;
  top:119px;
  width:71px;
  height:16px;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u476 {
  position:absolute;
  left:63px;
  top:16px;
  width:57px;
  height:16px;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:11px;
}
#u478 {
  position:absolute;
  left:127px;
  top:19px;
  width:4px;
  height:11px;
  color:#6B6B6B;
}
#u479 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u480 {
  position:absolute;
  left:140px;
  top:16px;
  width:69px;
  height:15px;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u482 {
  position:absolute;
  left:132px;
  top:245px;
  width:452px;
  height:247px;
}
#u482_input {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:247px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483 {
  position:absolute;
  left:56px;
  top:245px;
  width:71px;
  height:16px;
}
#u484 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u485 {
  position:absolute;
  left:62px;
  top:167px;
  width:61px;
  height:16px;
}
#u486 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u487 {
  position:absolute;
  left:144px;
  top:115px;
  width:151px;
  height:25px;
}
#u487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u488 {
  position:absolute;
  left:144px;
  top:165px;
  width:151px;
  height:25px;
}
#u488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u489 {
  position:absolute;
  left:501px;
  top:16px;
  width:102px;
  height:36px;
}
#u490 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
